@charset "utf-8";
.content {
	background-color: #0F3;
	height: 1000px;
	width: 700px;
	background-image: url(Hoa-van-trang-tri-cho-ca-phong-8.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	margin: auto;
	background-attachment: fixed;
	
}
